config.py
Model/
Processed/
Temp/
*.pyc
*.flake8

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
dist/
build/
eggs/
*.egg-info/

# PyCharm
.idea/
*.iml
*.ipr
*.iws
.idea_modules/

# Environments
.env
.venv
env/
venv/
ENV/

# OS
.DS_Store
Thumbs.db
